# Don’t commit the following files and directories created by pub and dart2js
packages
packages/
build
build/
example/packages
example/packages/
example/images/packages
example/images/packages/
*.js_
*.js.deps
*.js.map
*.dart.js
out.js
out.js.map
out
web/packages
web/packages/
web/docs
web/docs/
test/packages
test/packages/
*.lock
*.scc

# Exclude pubspec when developing library packages
# pubspec.lock
.pub/
.idea/
dart_flex.iml
